{% extends 'layouts/main.html' %}

{% block main %}
  <!-- Page Content -->
  <div class="container main">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 my-4">
        {% if posts %}
          <div class="card mb-4 alert-info">
            <div class="card-body py-2">
              <h4 class="mb-0">Posts on <span class="text-uppercase">{{category}}</span></h4>
            </div>
          </div>
          {% block posts %}
            {% include 'layouts/posts.html' %}
          {% endblock %}
        {% else %}
          <div class="card mb-4 alert-info">
            <div class="card-body py-2">
              <h4 class="text-center mb-0">No posts on <span class="text-uppercase">{{category}}</span></h4>
            </div>
          </div>
        {% endif %}

        {% block pagination %}
          {% include 'layouts/pagination.html' %}
        {% endblock %}
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4 sidebar my-4">
        {% include 'layouts/sidebar.html' %}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}