{% extends 'layouts/main.html' %}

{% block main %}
  <!-- Page Content -->
  <div class="container main">
    <div class="row">
      <!-- Blog Entries Column -->
      <div class="col-md-8 my-4">
        {% if posts %}
          <div class="card mb-4 alert-info">
            <div class="card-body py-2">
              <h4 class="mb-0">{{posts.count}} Search result for "{{word}}"</h4>
            </div>
          </div>
          {% block posts %}
            {% include 'layouts/posts.html' %}
          {% endblock %}
        {% else %}
          <div class="card mb-4 alert-info">
            <div class="card-body py-2">
              <h4 class="text-center mb-0">No results found for "{{word}}"</h4>
            </div>
          </div>
        {% endif %}

        <!-- Pagination -->
        {% if posts.has_other_pages %}
          <ul class="pagination justify-content-center mb-4">
            {% if posts.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?word={{word}}&page={{posts.previous_page_number}}">&laquo; Older</a>
            </li>
            {% else %}
              <li><span class=" page-link disabled">&laquo; Older</span></li>
            {% endif %}
            {% for page in posts.paginator.page_range %}
              {% if posts.number == page %}
              <li><a class="page-link text-danger" href="?word={{word}}&page={{page}}">{{page}}</a></li>
              {% else %}
                <li><a class="page-link" href="?word={{word}}&page={{page}}">{{page}}</a></li>
              {% endif %}
            {% endfor %}
            {% if posts.has_next %}
              <li class="page-item">
                <a class="page-link" href="?word={{word}}&page={{posts.next_page_number}}">Newer &raquo;</a>
              </li>
            {% else %}
              <li><span class="disabled page-link">Newer&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}
      </div>

      <!-- Sidebar Widgets Column -->
      <div class="col-md-4 sidebar my-4">
        {% include 'layouts/sidebar.html' %}
      </div>
    </div>
    <!-- /.row -->
  </div>
  <!-- /.container -->
{% endblock %}