{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Blog Home - Start Bootstrap Template</title>
    <!-- Bootstrap core CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
  </head>
  <body>
    <header>
      <nav class="navbar-top bg-info mb-0">
        <ul class="d-flex container mb-0">
          <li class="nav-item list-unstyled">
            <a class="nav-link" href="{% url 'index' %}">MYBLOG</a>
          </li>
          <li class="ml-auto list-unstyled">
            <li class="nav-item list-unstyled">
              <a href="" class="nav-link">Facebook</a>
            </li>
            <li class="nav-item list-unstyled">
              <a href="" class="nav-link">Twitter</a>
            </li>
            <li class="nav-item list-unstyled">
              <a href="" class="nav-link">Youtube</a>
            </li>
            <li class="nav-item list-unstyled">
              <a href="" class="nav-link">Instagram</a>
            </li>
          </li>
        </ul>
      </nav>
      <nav class="navbar-bottom bg-dark">
        <ul class="d-flex flex-wrap justify-content-center container mb-0">
          {% for category in categories %}
            <li class="nav-item list-unstyled">  
              <a class="nav-link text-uppercase" href="{% url 'category' category=category %}">{{category.name}}</a>
            </li>
          {% endfor %}
          {% for category in categories %}
            <li class="nav-item list-unstyled">  
              <a class="nav-link text-uppercase" href="{% url 'category' category=category %}">{{category.name}}</a>
            </li>
          {% endfor %}
          {% if user.is_authenticated %}
            <li class="nav-item list-unstyled">
              <a href="{% url 'siteadmin' %}" class="nav-link">ADMIN</a>
            </li>
          {% endif %}
        </ul>
      </nav>
    </header>
    {% block main %}
    {% endblock %}
    <!-- Footer -->
    <footer class="py-5 bg-dark" style="position: static; bottom: 0">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
      </div>
      <!-- /.container -->
    </footer> 
    <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
  </body>
</html>
