  <!-- Search Widget -->
  <div class="card">
    <h5 class="card-header">Search</h5>
    <div class="card-body">
      <div class="input-group">
        <form method="get" action="{% url 'search' %}" class="d-flex" style="width: 100%;">
          <input type="text" name="word" value="{{word}}" class="form-control" required="" placeholder="Search for...">
          <button class="btn bg-django" class="form-control" type="submit">Go!</button>
        </form>
      </div>
    </div>
  </div>

  <!-- Popular posts -->
  <div class="card my-4">
    <h5 class="card-header">Popular Posts</h5>
    <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
      <div class="d-flex flex-column">
        {% for post in popular %}
          <a href="{% url 'singlepost' id=post.id slug=post.slug %}" style="text-decoration: none;">
            <div class="d-flex mb-2 p-2" style="background: #f1f1f1">
              <div class="flex-fill d-flex align-items-center">
                <img style="width: 100px; height: 60px;" src="{{post.image}}">
              </div>
              <div class="flex-fill d-flex ml-2 align-items-center text-secondary font-bold text-justify">
                {{post.content|slice:':60'}}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Blog Archive -->
  <div class="card my-4">
    <h5 class="card-header">Archive</h5>
    <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
      <ul class="navbar-nav">
        {% for archive in archives %}
          <li class="nav-item mb-1 pl-2" style="background: #f1f1f1;">
            <a href="{% url 'archive' archive.year archive.month %}" class="nav-link"><i class="far fa-clock"></i> {{archive.yearmon}}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>

  <!-- Categories Widget -->
  <div class="card my-4">
    <h5 class="card-header">Recent Posts</h5>
    <div class="card-body" style="max-height: 400px; overflow-y: scroll;">
      <div class="d-flex flex-column">
        {% for post in latests %}
          <a href="{% url 'singlepost' id=post.id slug=post.slug %}" style="text-decoration: none;">
            <div class="d-flex mb-2 p-2" style="background: #f1f1f1">
              <div class="flex-fill d-flex align-items-center">
                <img style="width: 100px; height: 60px;" src="{{post.image}}">
              </div>
              <div class="flex-fill d-flex ml-2 align-items-center text-secondary font-bold text-justify">
                {{post.content|slice:':60'}}
              </div>
            </div>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="card my-4">
    <h5 class="card-header">Tags</h5>
    <div class="card-body">
      <div class="d-flex flex-wrap justify-content-between">
        {% for tag in tags %}
          <a href="{% url 'tags' tag=tag.name %}" class="btn btn-sm m-1 btn-outline-secondary">{{tag.name}}</a>
        {% endfor %}
      </div>
    </div>
  </div>

  <!-- Side Widget -->
  <div class="card my-4">
    <h5 class="card-header">Follow By Email</h5>
    <div class="card-body">
      <p>Enter your email address to subscribe to this blog and
       receive notifications of new posts by email.</p>
       <div class="form-group">
         <input type="text" class="form-control" name="email" placeholder="Your emil">
       </div>
       <div class="form-group">
         <button type="submit" class="form-control btn bg-django">Subscribe</button>
       </div>
    </div>
  </div>