<nav class="navbar-top mb-0">
  <div class="container">
    <ul class="d-flex justify-content-between px-0 mb-0">
      <li class="nav-item list-unstyled">
        <a class="nav-link logo" href="{% url 'index' %}">MYBLOG</a>
      </li>
      <li class="list-unstyled">
        <ul class="d-flex">
          <li class="nav-item list-unstyled">
            <a href="https://facebook.com" class="nav-link"><i class="fa fa-facebook-square"></i></a>
          </li>
          <li class="nav-item list-unstyled">
            <a href="https://twitter.com" class="nav-link"><i class="fa fa-twitter-square"></i></a>
          </li>
          <li class="nav-item list-unstyled">
            <a href="https://youtube.com" class="nav-link"><i class="fa fa-youtube-square"></i></a>
          </li>
          <li class="nav-item list-unstyled">
            <a href="https://instagram.com" class="nav-link"><i class="fa fa-instagram"></i></a>
          </li>
          <li class="nav-item list-unstyled">
            <a class="nav-link" href="#" data-target="#navbardrop" data-toggle="collapse">
              <i class="fas fa-bars"></i>
            </a>
          </li>
        </ul>
      </li>
    </ul> 
  </div>
</nav>