{% extends 'layouts/main.html' %}

{% block main %}
	<div class="container main">
		<div class="row justify-content-center">
			<div class="col-md-8 my-4">
				<div class="card">
					<h4 class="text-secondary card-header">Log in</h4>
					<div class="card-body">
						<form method="post" accept="{% url 'signup' %}?next=/site/admin">
							{% csrf_token %}
							{% for field in form %}
								<div class="form-group">
									<p class="mb-0 text-secondary font-bold">{{field.label}}: <span class="text-danger">{{field.errors|striptags}}</span></p>
									{{field}}
									<p class="mt-0 font-normal">{{field.help_text|striptags}}</p>
								</div>
							{% endfor %}
							<div class="form-group">
	              <input type="submit" name="Signup" class="form-control btn-dark"> 
	            </div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}