{% extends 'admin/home.html' %}

{% block content %}
    <div class="card mb-4">
      <h4 class="card-header">New Post</h4>
      <div class="card-body">
        <form method="post" action="{% url 'newpost' %}">
          {% csrf_token %}
          {% for field in form %}
            <div class="form-group">
              <p class="mb-0">{{field.label}}: <span class="text-danger">{{field.errors|striptags}}</span></p>
              {{field}}
              <p class="mt-0 font-normal">{{field.help_text|striptags}}</p>
            </div>
          {% endfor %}
          <div class="form-group">
            <input type="submit" class="form-control btn btn-secondary" name="Create">
          </div>
        </form>
      </div>
    </div>
{% endblock %}