
body {
  background: #f1f1f1;
  font-family: unset;
}

.container.main{
	min-height: 100vh;
}


.navbar-top{
	background: #417690;
}

.navbar-top .nav-link {
	color: #6df14c!important;
	font-weight: bold!important;
	font-size: 16px;
}

.navbar-bottom .nav-link {
	color: aqua!important;
	font-weight: bold!important;
	font-size: 12px;
}

.navbar-bottom{
	background: #3a7cbf!important;
}

footer{
	border-top: 5px solid blue;
}

.sidebar .card{
	border-top: 5px solid blue!important;
}

input.form-control{
	box-shadow: none!important;
	font-size: 15px!important;
	background: #e8f0fe!important;
}

.bg-django{
	background: #417690;
	color: white!important;
}