
body {
  background: #f1f1f1;
}

.container.main{
	min-height: 100vh;
}

*{
	border-radius: 0!important;
}

.nav-link {
	color: aqua!important;
	font-weight: bold!important;
}

.navbar-brand {
	font-size: 16px!important;
	color: aqua!important;
	font-weight: bold!important;
}

.navbar-brand:hover{
	opacity: 1;
}

.navbar{
	border-bottom: 5px solid blue;
}

footer{
	border-top: 5px solid blue;
}

.sidebar .card{
	border-top: 5px solid blue!important;
}

.list-group-item{
	padding-top: 5px;
	padding-bottom: 5px;
	margin-bottom: 2px;
}

.nav-left li{
	border-bottom: 2px solid #f1f1f1;
}

.nav-left li a{
	color: #4e6f6f!important;
	transition: all 0.5s;
}

.nav-left li a:hover{
	background: #6c757d;
	color: white!important;
}

.dropdown-menu{
	background: #343a40!important;
	transition: all 1s;
	padding-left: -5px;
}

.dropdown-menu a{
	color: aqua!important;
	font-weight: bold!important;
	transition: all 1s;
}

.dropdown-menu a:hover{
	background: none!important;
}